.top-header {
  display: block;
  text-align: center;
}

#main-header #main-nav {
  padding-bottom: 5rem;
}

#main-header #main-nav ul {
  display: block;
}

.btn {
  padding: 5px;
}

.text-content h1 {
  font-size: 1.5rem;
}
